@import 'utils';

.Header {
  position: relative;
  margin: 0;
  padding: 0;
}

.LogoLink {
}

.HeaderContent {
  width: 3rem;
  padding: 0.5rem;
  background: $dark;
  height: 100%;
  color: #ddd;
}

.HeaderText {
  margin-top: 2rem;
  line-height: 1.5;
}
