@import 'utils';

.Header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-bottom: -0.5rem;
  padding: $margin;

  @include multiColumn {
    justify-content: flex-start;
    margin: 0;
    padding: $margin / 2 0 0;
    position: relative;
  }
}

.Logo {
  display: block;
}

.HeaderContent {
  @include multiColumn {
    position: fixed;
    width: $sidebarWidth;
    padding: 1rem 1.75rem 1rem 1rem;
  }
}

.HeaderText {
  margin-top: 2rem;
  line-height: 1.5;
}
