@import '~normalize.css';

* {
  box-sizing: border-box;
}

@import 'utils';
@import 'typography';

:root {
  --veryLightGrey: #{$veryLightGrey};
  --lightGrey: #{$lightGrey};
  --darkGrey: #{$darkGrey};
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #101117;
  overflow-y: scroll;
}

img {
  max-width: 100%;
}
