@import 'utils';

%overlay {
  position: absolute;
  transition: opacity 0.2s ease-out;
  padding: $margin;
  color: #ffffff;
  pointer-events: none;
}

.ListHeading {
}

.PictureContainer {
  position: relative;
  overflow: hidden;

  &:hover {
    %overlay {
      opacity: 1;
      pointer-events: all;
    }

    .Picture {
      transform: scale(1.02) rotate(1deg);
    }
  }
}

.PictureInfo {
  @extend %overlay;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.75) 00%,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.Picture {
  display: block;
  transition: transform 0.5s ease-out;
}

.PictureTitle {
  margin-top: 0;
  color: inherit;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
}

.Description {
}

.PictureTags {
  @extend %overlay;
  opacity: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 0 ($margin / 2);
  padding: 1rem 1rem 0;
  list-style: none;

  li {
    white-space: nowrap;
    margin: 0;
    text-transform: uppercase;

    &:after {
      content: '/';
      font-weight: 400;
      margin: 0 0.25rem;
    }

    &:last-child {
      &:after {
        content: '';
      }
    }

    a {
      text-decoration: none;
      color: inherit;
      display: inline-block;
    }
  }
}

.PictureList {
  column-count: 3;
  column-gap: 0;

  .PictureContainer {
    width: 100%;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid;
    -webkit-backface-visibility: hidden;
  }
}

.PicturePage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0 auto;

  .PictureTitle,
  .Description {
    padding: 0 $margin;
    margin: $margin 0;

    @include multiColumn {
      padding: 0;
    }
  }

  .PictureTags {
    position: static;
    opacity: 1;
    padding: 0;
    margin: 0 0 $margin 0;
  }

  .Picture {
    width: auto;
    max-width: 100%;
    max-height: 100vh;
    margin: 0;

    @include multiColumn {
      max-width: calc(100vw - (#{$sidebarWidth} + #{$margin}));
      max-height: 85vh;
    }
  }
}
